<h1>{{ title }}</h1>
<ul>
  <li *ngFor="let vehicle of vehicle"
      (click)="onSelect(vehicle)">
    <span>{{vehicle.brand}}</span> {{vehicle.model}}
  </li>
</ul>

<div *ngIf="selected">
  <hr />
  <label>Brand:</label><br />
  <input [(ngModel)]="selected.brand" placeholder="brand"><br />
  
  <label>Model: </label><br />
  <textarea [(ngModel)]="selected.model" placeholder="model"></textarea><br />
  <label>color: </label><br />
  <input [(ngModel)]="selected.color" placeholder="color"><br />
  <label>plate:</label><br />
  <input [(ngModel)]="selected.plate" placeholder="plate"><br />
  <label>capacity:</label><br />
  <input [(ngModel)]="selected.capacity" placeholder="brand"><br />
  <label>built year:</label><br />
  <input [(ngModel)]="selected.builtyear" placeholder="builtyear"><br />
  
  
</div>