<div *ngIf="student">
  <hr />
  <label>Id: </label><br />
  <input [(ngModel)]="student.id" placeholder="name"><br />
  <label>Name: </label><br />
  <textarea [(ngModel)]="student.name" placeholder="lastname"></textarea><br />
  <label>Grade: </label><br />
  <input [(ngModel)]="student.grade" placeholder="grade"><br />
  <label>Group: </label><br />
  <input [(ngModel)]="student.group" placeholder="group"><br />
<label>Teacher: </label><br />
  <input [(ngModel)]="student.teacher" placeholder="teacher"><br />

</div>